<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Book Title</th>
      <th scope="col">Price</th>
      <th scope="col">ISBN</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#books}}
    <tr>
      <td>{{bookTitle}}</td>
      <td>{{price}}</td>
      <td>{{isbn}}</td>
      <td>
        <button type="button" class="btn btn-primary" onclick='monkshu_env.components["list-books"].loadEditBookPage("{{_id}}")'>Edit</button>
        <button type="button" class="btn btn-danger" onclick='monkshu_env.components["list-books"].deleteBooks("{{_id}}")'>Delete</button>
      </td>
    </tr>
    {{/books}}
  </tbody>
</table>
